<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs', {title: "Home" }) %>

    <body class="bg-gray-75">
        <%- include('partials/header.ejs', {name: name }) %>
            <!-- Main Content -->
            <main class="px-24 mt-24">

                <div>
                    <!-- Recent Section -->
                    <div class="mt-8">
                        <h2 class="text-lg font-semibold mb-2">Manage</h2>
                        <hr class="border-gray-300 mb-4">

                        <div x-data="{ selectedTab: 'brainstorm1' }" class="lg:col-span-2 space-y-6">
                            <div class="flex space-x-4 mb-4">
                                <button @click="selectedTab = 'brainstorm1'" :class="selectedTab === 'brainstorm1' ? 'bg-blue-600 text-white' :
                                        'bg-white text-blue-500 border border-blue-500'"
                                    class="px-4 py-2 rounded font-semibold focus:outline-none">
                                    Brainstorm1
                                </button>
                                <button @click="selectedTab = 'brainstorm2'" :class="selectedTab === 'brainstorm2' ? 'bg-blue-600 text-white' :
                                                                    'bg-white text-blue-500 border border-blue-500'"
                                    class="px-4 py-2 rounded font-semibold focus:outline-none">
                                    Brainstorm2
                                </button>
                                <button @click="selectedTab = 'brainstorm3'" :class="selectedTab === 'brainstorm3' ? 'bg-blue-600 text-white' :
                                                                    'bg-white text-blue-500 border border-blue-500'"
                                    class="px-4 py-2 rounded font-semibold focus:outline-none">
                                    Brainstorm3
                                </button>
                            </div>

                            <!-- Brainstorm1 -->
                            <div x-show="selectedTab === 'brainstorm1'" class="space-y-4">
                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                                    <!-- Display only 8 items, conditionally render if there are more than 8 -->
                                    <% history_brainstorm1.forEach(lab_project=> { %>
                                        <div class="bg-white p-4 rounded-lg shadow-md flex flex-col h-full relative">
                                            <!-- Background section for title -->
                                            <div
                                                class="absolute top-0 left-0 right-0 bg-blue-600 rounded-t-lg py-2 px-4 flex justify-between items-center">
                                                <!-- Title -->
                                                <p
                                                    class="text-sm font-semibold text-white mb-0 hover:text-bg-white-600">
                                                    <em>
                                                        <a
                                                            href="/brainstorm1/lab/<%= lab_project.id %>?pageids=<%= lab_project.pageids %>">
                                                            <%= lab_project.lab_name %>
                                                        </a>
                                                    </em>
                                                </p>

                                                <!-- Dropdown Menu Button -->
                                                <div class="relative">
                                                    <!-- Dropdown toggle button (e.g., a simple button or icon) -->
                                                    <button class="text-white focus:outline-none"
                                                        onclick="toggleDropdown('<%= lab_project.id %>', '<%= lab_project.lab_name %>')">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5"
                                                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                                stroke-width="2" d="M19 9l-7 7-7-7">
                                                            </path>
                                                        </svg>
                                                    </button>

                                                    <!-- Dropdown Menu -->
                                                    <div id="dropdown-<%= lab_project.id %>-<%= lab_project.lab_name %>"
                                                        class="dropdown-menu absolute hidden bg-white shadow-md rounded-lg mt-2 right-0 w-40 z-50">
                                                        <ul class="text-sm text-gray-700 p-5">
                                                            <li>
                                                                <button class="hover:text-blue-600"
                                                                    onclick="window.location.href='/brainstorm1/download-pdf/<%= lab_project.id %>'">
                                                                    Download
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Content Section -->
                                            <div class="mt-10">
                                                <!-- Adjusted margin-top to push content below the background -->
                                                <!-- Limit text content -->
                                                <p
                                                    class="text-gray-700 text-sm mb-4 overflow-hidden text-ellipsis line-clamp-3">
                                                    <%= lab_project.transformedText %>
                                                </p>
                                                <p class="text-xs text-gray-500">Date Created: <%=
                                                        lab_project.created_at %>
                                                </p>
                                            </div>

                                            <!-- Delete Icon -->
                                            <button class="absolute bottom-4 right-4 text-white p-2 focus:outline-none">

                                                <i class="fa-solid fa-trash" style="color: #e60f0f;"
                                                    onclick="window.location.href = '/brainstorm1/delete/ <%= lab_project.id %>'"></i>

                                            </button>
                                        </div>
                                        <% }) %>
                                </div>
                            </div>

                            <!-- Brainstorm2 -->
                            <div x-show="selectedTab === 'brainstorm2'" class="space-y-4">
                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                                    <!-- Display only 8 items, conditionally render if there are more than 8 -->
                                    <% history_brainstorm2.forEach(lab_project=> { %>
                                        <div class="bg-white p-4 rounded-lg shadow-md flex flex-col h-full relative">
                                            <!-- Background section for title -->
                                            <div
                                                class="absolute top-0 left-0 right-0 bg-blue-600 rounded-t-lg py-2 px-4 flex justify-between items-center">
                                                <!-- Title -->
                                                <p
                                                    class="text-sm font-semibold text-white mb-0 hover:text-bg-white-600">
                                                    <em>
                                                        <a href="/brainstorm2/lab/<%= lab_project.id %>">
                                                            <%= lab_project.lab_name %>
                                                        </a>
                                                    </em>
                                                </p>

                                                <!-- Dropdown Menu Button -->
                                                <div class="relative">
                                                    <!-- Dropdown toggle button (e.g., a simple button or icon) -->
                                                    <button class="text-white focus:outline-none"
                                                        onclick="toggleDropdown('<%= lab_project.id %>', '<%= lab_project.lab_name %>')">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5"
                                                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                                stroke-width="2" d="M19 9l-7 7-7-7">
                                                            </path>
                                                        </svg>
                                                    </button>

                                                    <!-- Dropdown Menu -->
                                                    <div id="dropdown-<%= lab_project.id %>-<%= lab_project.lab_name %>"
                                                        class="dropdown-menu absolute hidden bg-white shadow-md rounded-lg mt-2 right-0 w-40 z-50">
                                                        <ul class="text-sm text-gray-700 p-5">
                                                            <li>
                                                                <button class="hover:text-blue-600"
                                                                    onclick="window.location.href='/brainstorm2/download-pdf/<%= lab_project.id %>'">
                                                                    Download
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Content Section -->
                                            <div class="mt-10">
                                                <!-- Adjusted margin-top to push content below the background -->
                                                <!-- Limit text content -->
                                                <p
                                                    class="text-gray-700 text-sm mb-4 overflow-hidden text-ellipsis line-clamp-3">
                                                    <%= lab_project.ai_text %>
                                                </p>
                                                <p class="text-xs text-gray-500">Date Created: <%=
                                                        lab_project.created_at %>
                                                </p>
                                            </div>

                                            <!-- Delete Icon -->
                                            <button class="absolute bottom-4 right-4 text-white p-2 focus:outline-none">

                                                <i class="fa-solid fa-trash" style="color: #e60f0f;"
                                                    onclick="window.location.href = '/brainstorm2/delete/ <%= lab_project.id %>'"></i>

                                            </button>
                                        </div>
                                        <% }) %>
                                </div>
                            </div>

                            <!-- Brainstorm3 -->
                            <div x-show="selectedTab === 'brainstorm3'" class="space-y-4">
                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                                    <!-- Display only 8 items, conditionally render if there are more than 8 -->
                                    <% history_brainstorm3.forEach(lab_project=> { %>
                                        <div class="bg-white p-4 rounded-lg shadow-md flex flex-col h-full relative">
                                            <!-- Background section for title -->
                                            <div
                                                class="absolute top-0 left-0 right-0 bg-blue-600 rounded-t-lg py-2 px-4 flex justify-between items-center">
                                                <!-- Title -->
                                                <p
                                                    class="text-sm font-semibold text-white mb-0 hover:text-bg-white-600">
                                                    <em>
                                                        <a href="/brainstorm3/lab/<%= lab_project.id %>">
                                                            <%= lab_project.lab_name %>
                                                        </a>
                                                    </em>
                                                </p>

                                                <!-- Dropdown Menu Button -->
                                                <div class="relative">
                                                    <!-- Dropdown toggle button (e.g., a simple button or icon) -->
                                                    <button class="text-white focus:outline-none"
                                                        onclick="toggleDropdown('<%= lab_project.id %>', '<%= lab_project.lab_name %>')">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5"
                                                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                                stroke-width="2" d="M19 9l-7 7-7-7">
                                                            </path>
                                                        </svg>
                                                    </button>

                                                    <!-- Dropdown Menu -->
                                                    <div id="dropdown-<%= lab_project.id %>-<%= lab_project.lab_name %>"
                                                        class="dropdown-menu absolute hidden bg-white shadow-md rounded-lg mt-2 right-0 w-40 z-50">
                                                        <ul class="text-sm text-gray-700 p-5">
                                                            <li>
                                                                <button class="hover:text-blue-600"
                                                                    onclick="window.location.href='/brainstorm3/download-pdf/<%= lab_project.id %>'">
                                                                    Download
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Content Section -->
                                            <div class="mt-10">
                                                <!-- Adjusted margin-top to push content below the background -->
                                                <!-- Limit text content -->
                                                <p
                                                    class="text-gray-700 text-sm mb-4 overflow-hidden text-ellipsis line-clamp-3">
                                                    <%= lab_project.ai_text %>
                                                </p>
                                                <p class="text-xs text-gray-500">Date Created: <%=
                                                        lab_project.created_at %>
                                                </p>
                                            </div>

                                            <!-- Delete Icon -->
                                            <button class="absolute bottom-4 right-4 text-white p-2 focus:outline-none">

                                                <i class="fa-solid fa-trash" style="color: #e60f0f;"
                                                    onclick="window.location.href = '/brainstorm3/delete/ <%= lab_project.id %>'"></i>

                                            </button>
                                        </div>
                                        <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>


            <!-- Script to toggle dropdown visibility -->
            <script>
                function toggleDropdown(id, lab_name)
                {
                    const dropdown = document.getElementById('dropdown-' + id + '-' + lab_name);
                    dropdown.classList.toggle('hidden');
                }
            </script>
    </body>

</html>